marquee{
    height:330px;                              
  }                            
  .message_board{
  float:right;
  padding:10px;
  height:400px;
  margin-left: auto;
  border-radius: 20px;
  border: 1px solid #dddddd;
  
  }
  .message_board_title{
  margin-bottom: 10px;
  text-shadow:1px 1px 2px rgba(94,94,94,0.8);
  font-weight:bold;
  color:#FF54AF;
  font-size:16px;text-align:left;
  }
  .message_board_item{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #dddddd;
  -webkit-box-shadow: #B3B3B3 7px 7px 7px;
  -moz-box-shadow: #B3B3B3 7px 7px 7px; 
  box-shadow: #B3B3B3 7px 7px 7px;    
  padding: 5px;
  }
  .message_board_item_ul{
      padding-right: 10px;
  }